<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590690622893-o4geshc6tncodpttcp9dj79cin49dqml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590690622893-o4geshc6tncodpttcp9dj79cin49dqml</string>
	<key>API_KEY</key>
	<string>AIzaSyANelbk0iC-IYK_xs1CRzauYOR-7JZslBY</string>
	<key>GCM_SENDER_ID</key>
	<string>590690622893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.story</string>
	<key>PROJECT_ID</key>
	<string>connect-master-flutter-0518</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-master-flutter-0518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590690622893:ios:a72119dc85c1e8a498d524</string>
</dict>
</plist>